@font-face {
    src: url("CursedTimerULiL.ttf");
    font-family: "CursedTimerULiL";
}

body {
    margin: 0;
    background: linear-gradient(#1B244A, white);
    color: whitesmoke;
}

.container {
    display: flex;
    justify-content: space-around;
}